<table class="table">
  <caption>Komentarze</caption>
  <thead>
    <tr>
      <th>ID | User | Comment| &nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %>
        <%= best_in_place comment, :user, :path => admin_comment_path(comment) %>|
        <%= best_in_place comment, :comment, :type => :textarea, :path => admin_comment_path(comment) %>|
        <% if comment.validated? %>
          <td><%= link_to 'Anuluj Publikacje', perform_admin_comment_path(comment), :method => :put %></td>
        <% else %>
          <td><%= link_to 'Publikuj', perform_admin_comment_path(comment, :v => true), :method => :put %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @comments %>

<%= javascript_tag do  %>
  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
<% end %>