<div class="span6">
  <div class="well">
    <h4><%= Bribe.valid.count %> historii korupcji to <%= number_with_delimiter( Bribe.valid.sum(:amount) ) %> zł łapówek</h4>

    <p class="lead">Spróbójmy razem coś zmienić. Może istnieć Państwo bez korupcji. Niech Twoja historia uświadamia i pomaga innym, aby nie zrobili błędu. Opowiedz anonimowo gdzie, jak i kiedy dałeś łapówkę.</p>
  </div>

  <h3>Ostatnie historie</h3>

  <%= render :partial => 'bribes/bribe', :collection => @bribes %>

  <p><%= link_to 'Przeczytaj więcej histori', bribes_path %></p>
</div>

<div class="span6">
  <% if @bribes.any? %>
    <h3>Korupcja na usługę</h3>
    <div id="chart_u_div"></div>

    <h3>Korupcja na województwo</h3>
    <div id="chart_w_div"></div>
  <% end %>

  <% if @comments.any? %>
    <h3>Ostatnie komentarze</h3>
    <%= render :partial => 'comments/comment', :collection => @comments %>
  <% end %>
</div>

<% if @bribes.any? %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <%= render_chart_js('chart_u_div', 'service') %>
  <%= render_chart_js('chart_w_div', 'area') %>
<% end %>
