<% expanded ||= false %>

<h3><%= link_to bribe.subject, bribe %></h3>

<p><strong>Województwo</strong> <%= bribe.area.title %></p>
<p><strong>Usługa</strong> <%= bribe.service.title %></p>
<p class="pull-right"><strong>Kwota</strong> <%= number_with_delimiter(bribe.amount) %> zł</p>
<p><strong>Data</strong> <%= bribe.bribe_date %></p>

<p class="lead">
  <%= format_description(bribe.description, expanded) %>
  <% if expanded %>
    <%= render :partial => 'bribes/share' %>
  <% else %>
    <span class="pull-right"><%= link_to('(czytaj)', bribe_path(bribe))%><span>
  <% end %>
</p>

<hr>
