<h3><%= bribe.subject %></h3>

<p><strong>Województwo</strong> <%= bribe.area %></p>
<p><strong>Usługa</strong> <%= bribe.service %></p>
<p><strong>Data</strong> <%= bribe.when %></p>
<p><strong>Kwota</strong> <%= bribe.amount %></p>

<p class="lead"><%= bribe.description %></p>

<hr>