<div class="span12">
  <h1>
    Historie
    <%= @bribes.total_entries if @bribes.any? %>
  </h1>

  <%= form_tag(bribes_path, :method => :get, :id => 'kind_filter') do %>
    <%= select_tag :kind, options_for("Wszystkie rodzaje", "kind") %>
    <%= select_tag :service, options_for("Wszystkie urzędy / usługi", "service") %>
    <%= select_tag :area, options_for("Wszystkie województwa", "area") %>
  <% end %>

  <%= render :partial => 'bribe', :collection => @bribes %>

  <%= will_paginate @bribes %>
</div>
