<div class="span12">

  <h1>Dodaj historię</h1>

  <%= form_for(@bribe) do |f| %>
    <%= errors_for(@bribe) %>

    <%= f.label :kind, "Rodzaj" %>
    <%= f.select :kind, Kind.options, :selected => @bribe.kind.try(:id) || params[:kind], :class => "input-block-level" %>

    <%= f.label :area, "Województwo" %>
    <%= f.select :area, Area.options, :class => "input-block-level" %>

    <%= f.label :service, "Urząd / Usługa" %>
    <%= f.select :service, Service.options, :class => "input-block-level" %>

    <div class="bribe-year-month-field">
      <%= f.label :year, "Kiedy" %>

      <%= f.select :year, (2013.downto(1960)).to_a, {}, :class => 'input-small' %> <b>-</b> <%= f.select :month, (1..12).to_a, {}, :class => 'input-mini' %>
    </div>

    <%= f.label :amount, "Kwota" %>
    <%= f.text_field :amount, :class => "input-block-level" %>

    <%= f.label :subject, "Temat" %>
    <%= f.text_field :subject, :class => "input-block-level" %>

    <%= f.label :description, "Opis" %>
    <%= f.text_area :description, :class => "input-block-level" %>

    <%= f.submit :value => "Dodaj" %>
  <% end %>

</div>
