<div class="span12">

  <h1>Dodaj historię</h1>

  <%= form_for(@bribe) do |f| %>
    <%= error_messages_for :bribe %>

    <%= f.label :kind, "Rodzaj" %>
    <%= f.select :kind, Kind.options, :selected => @bribe.kind.try(:id) || params[:kind], :class => "input-block-level" %>

    <%= f.label :area, "Województwo" %>
    <%= f.select :area, Area.options, :class => "input-block-level" %>

    <%= f.label :service, "Urząd / Usługa" %>
    <%= f.select :service, Service.options, :class => "input-block-level" %>

    <div class="bribe-year-month-field">
      <%= f.label :year, "Kiedy" %>
      <%= f.text_field :year, :placeholder => "RRRR", :size => "4" %> - <%= f.text_field :month, :placeholder => "MM", :width => "2" %>
    </div>

    <%= f.label :amount, "Kwota" %>
    <%= f.text_field :amount, :class => "input-block-level" %>

    <%= f.label :subject, "Temat" %>
    <%= f.text_field :subject, :class => "input-block-level" %>

    <%= f.label :description, "Opis" %>
    <%= f.text_area :description, :class => "input-block-level" %>

    <%= f.submit :value => "Dodaj" %>
  <% end %>

</div>
