<div class="span12">
  <h3><%= @bribe.subject %></h3>

  <p><strong>Województwo</strong> <%= @bribe.area %></p>
  <p><strong>Usługa</strong> <%= @bribe.service %></p>
  <p><strong>Data</strong> <%= @bribe.when %></p>
  <p><strong>Kwota</strong> <%= @bribe.amount %></p>

  <p class="lead"><%= @bribe.description %></p>

  <hr>

  <h1>Dodaj historię</h1>

  <%= form_for(@comment) do |f| %>
    <%= error_messages_for :comment %>

    <%= f.label :comment, "Treść" %>
    <%= f.text_area :comment, :class => "input-block-level" %>

    <%= f.submit :value => "Dodaj" %>
  <% end %>

  <hr>

  <% if @bribe.comments.any? %>
    <h4>Komentarze</h4>

    <% @bribe.comments.each do |comment| %>
      <p><strong>Data</strong> <%= comment.created_at %></p>
      <p class="lead"><%= comment.comment %></p>
      <hr>
    <% end %>
  <% end %>
</div>
